html {
    background: rgba(21, 128, 28, 0.219);
}
h2 {
    margin-top: 50px;
}
.container {
    display: flex;
    align-items: flex-start;
    gap: 30px
}
.liste_randos {
    width: 40%;
    box-sizing: border-box;
    padding: 20px;
}
.liste_randos .sortie {
    background-color: rgba(21, 128, 28, 0.219);
    border: 2px solid rgb(1, 75, 7);
    border-radius: 6px;
    padding: 20px;
}
.affichage {
    width: 55%;
    padding: 20px;
}
.affichage .carte {
    margin-top: 10px;
    height: 500px;
    /* background: white; */
    border: 3px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
}